<% if(status=="Default"){ %>
<%- include('partials/header') %>
<% }else{ %>
<%- include('partials/headerLoggedIn') %>
<% } %>


<div class="container-fluid">
  <div class="row top-section">
    <div class="col-lg-7 top-left-section">
      <h1 class="big-heading"><strong>For a hassle-free parking experience, get started, book now.</strong></h1>
      <button type="button" class="btn btn-outline btn-lg download-btn"><a class="learn-more" href="/about">Learn More <i class="fas fa-angle-right"></i></a></button>
    </div>
  </div>
</div>



<%- include('partials/footer') %>
