<%-include("partials/headerLoggedIn") %>

<hr>
<div class="container row">
  <div class="col-md-3">
    <div class="my-profile">
      <h3>Account</h3>
      <p><%=user%></p>
    </div>

  </div>
  <div class="col-md-7 d-flex">
    <div class="vr">

    </div>

  </div>

</div>
<div class="container row">
  <div class="col-md-3" style="padding-top:3%">

  </div>
  <div class="col-md-7 d-flex">
    
</div>
<div class="container row">
  <div class="col-md-3">
    <div class="my-profile ">
        <p><a href="/my/details" class="text-decoration-none link-secondary">Your Details</a></p>
        <p><a href="/view/orders" class="text-decoration-none link-secondary">View Bookings</a></p>
    </div>

  </div>

</div>

<%- include("partials/footer")%>
